<% provide(:title, "交通費管理画面") %>
<h1>
    交通費管理画面（公共交通機関）
</h1>

<div class="carfare-t">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>交通機関利用日</th>
        <th>ユーザー名</th>
        <th>勤務地</th>
        <th>出発地</th>
        <th>到着地</th>
        <th>公共機関</th>
        <th>公共機関金額</th>
        <th>宿泊費</th>
        <th>移動距離</th>
        <th>高速料金</th>
        <th>伝票画像</th>
        <th>申請</th>
      </tr>
    </thead>

    <tbody  class="table table-bordered table-condensed">
    <% carfare_admin_params.each do |id, item| %>
      <%= form_with(model: user, url: update_show_admin_user_carfare_path(user)) do |f| %>
        <tr>
          <td><%= l(user.date_of_use, formats: :default) %></td>
          <td><%= user.carfares.name %></td>
          <td><%= user.carfares.commuting_place %></td>
          <td><%= carfare.point_of_departure %></td>
          <td><%= carfare.public_transportation_arrival %></td>
          <td><%= carfare.public_institution %></td>
          <td>
            <% if carfare.public_transportation_cash.present? %>
              <%= "#{carfare.public_transportation_cash}円" %>
            <% else%>
              <%= carfare.public_transportation_cash %>
            <% end %>
          </td>
          <td>
            <% if carfare.hotel_charge.present? %>
              <%= "#{carfare.hotel_charge}円" %>
            <% else%>
              <%= carfare.hotel_charge %>
            <% end %>
          </td>
          <td>
            <% if carfare.moving_distance.present? %>
              <%= "#{carfare.moving_distance}km" %>
            <% else%>
              <%= carfare.moving_distance %>
          </td>
          <% end %>
          <td>
            <% if carfare.highway_rate.present? %>
              <%= "#{carfare.highway_rate}円" %></td>
            <% else%>
              <%= carfare.highway_rate %></td>
          <% end %>
          <td>
            <% if @carfare.image.blank? %>
              <%= image_tag src='20200502_noimage.jpg', size: "300x200", class: "user-icon", alt: "ユーザーアイコン" %>
            <% else %>
              <%= link_to carfare.image.url, "data-lightbox" => @carfare.image.url do %>
                <%= image_tag carfare.image.url, size: "300x250", :style=>"400x300" %>
              <% end %>
           <% end %> 
          </td>
          <td><%= f.select 'application_ok', options_for_select([['承認'], ['否認']]), include_blank: true %></td>
        </tr>
        <%= f.submit "承認", class: "btn btn-sm btn-primary" %>
      <% end %>
    <% end %>
  </table>
  <%= f.submit "承認", class: "btn btn-sm btn-primary" %>
</div>