<% provide(:title, "交通費管理画面") %>
<h1>
    交通費管理画面（公共交通機関）
</h1>

<div class="carfare-t">
<%= form_with(model: @carfare, url: update_show_user_carfare_path(@user,@carfare), method: :patch) do |f| %>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>交通機関利用日</th>
        <th>ユーザー名</th>
        <th>勤務地</th>
        <th>出発地</th>
        <th>到着地</th>
        <th>公共機関</th>
        <th>公共機関金額</th>
        <th>宿泊費</th>
        <th>移動距離</th>
        <th>高速料金</th>
        <th>伝票画像</th>
        <th>申請</th>
      </tr>
    </thead>

    <tbody  class="table table-bordered table-condensed">
        <tr>
          <td><%= l(@carfare.date_of_use, formats: :nil, default: '') %></td>
          <td><%= @user.name %></td>
          <td><%= @carfare.commuting_place %></td>
          <td><%= @carfare.point_of_departure %></td>
          <td><%= @carfare.public_transportation_arrival %></td>
          <td><%= @carfare.public_institution %></td>
          <td>
            <% if @carfare.public_transportation_cash.present? %>
              <%= "#{@carfare.public_transportation_cash}円" %>
            <% else%>
              <%= @carfare.public_transportation_cash %>
            <% end %>
          </td>
          <td>
            <% if @carfare.hotel_charge.present? %>
              <%= "#{@carfare.hotel_charge}円" %>
            <% else%>
              <%= @carfare.hotel_charge %>
            <% end %>
          </td>
          <td>
            <% if @carfare.moving_distance.present? %>
              <%= "#{@carfare.moving_distance}km" %>
            <% else%>
              <%= @carfare.moving_distance %>
          </td>
          <% end %>
          <td>
            <% if @carfare.highway_rate.present? %>
              <%= "#{@carfare.highway_rate}円" %></td>
            <% else%>
              <%= @carfare.highway_rate %></td>
          <% end %>
          <td>
            <%= link_to @carfare.image.url, "data-lightbox" => @carfare.image.url do %>
              <%= image_tag @carfare.image.url, size: "300x250", :style=>"400x300" unless @carfare.image.blank? %>
              <%= image_tag src='20200502_noimage.png', size: "300x200", class: "user-icon", alt: "ユーザーアイコン" if @carfare.image.blank? %>
            <% end %>
          </td>
          <% if @carfare.application_ok.blank? %>
            <td><%= f.select 'application', options_for_select([['申請中']]), include_blank: true %></td>
          <% elsif @carfare.application_ok == '否認' %>
            <td><%= f.select 'application', options_for_select([['再申請']]), include_blank: true %></td>
          <% end %>
        </tr>
  </table>
  <%= f.submit "交通費申請", class: "btn btn-sm btn-primary" %>
<% end %>
</div>