<h1>請求書一覧</h1>
<table class="table">
  <tr>
    <td>請求書日付</td>
    <td>請求書番号</td>
    <td>営業担当者</td>
    <td>品名</td>
    <td>支払条件</td>
    <td>期日</td>
    <td>コスモカード人件費</td>
    <td>コスモカード獲得インセンティブ</td>
    <td>コスモカードスタッフ交通費</td>
    <td>通信事業人件費</td>
    <td>通信事業交通費（備品代込み）</td>
    <td>通信事業（山陰ライン）人件費</td>
    <td>通信事業（山陰ライン）交通費（備品代込み）</td>
    <td>小計</td>
    <td>消費税</td>
    <td>合計</td>
    <td>詳細</td>
    <td>出力</td>
    <td>編集</td>
    <td>削除</td>
    </tr>
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.invoice_date %></td>
      <td><%= invoice.invoice_number %></td>
      <td><%= invoice.sales_staff %></td>
      <td><%= invoice.item %></td>
      <td><%= invoice.pay_terms %></td>
      <td><%= invoice.due_date %></td>
      <td><%= invoice.card_labor_cost.to_s(:delimited) if invoice.card_labor_cost %></td>
      <td><%= invoice.card_incentive.to_s(:delimited) if invoice.card_incentive %></td>
      <td><%= invoice.card_labor_commuting_allowance.to_s(:delimited) if invoice.card_labor_commuting_allowance %></td>
      <td><%= invoice.cell_phone_sales_labor_cost.to_s(:delimited) if invoice.cell_phone_sales_labor_cost %></td>
      <td><%= invoice.cell_phone_sales_commuting_allowance.to_s(:delimited) if invoice.cell_phone_sales_commuting_allowance %></td>
      <td><%= invoice.cell_phone_sales_labor_cost_saninline.to_s(:delimited) if invoice.cell_phone_sales_labor_cost_saninline %></td>
      <td><%= invoice.cell_phone_sales_saninline.to_s(:delimited) if invoice.cell_phone_sales_saninline %></td>
      <td><%= invoice.subtotal_fee.to_s(:delimited) if invoice.subtotal_fee %></td>
      <td><%= invoice.tax.to_s(:delimited) if invoice.tax %></td>
      <td><%= invoice.total_fee.to_s(:delimited) if invoice.total_fee %></td>
      <td><%= link_to '詳細', client_invoice_path(@client, invoice), class: "btn btn-success" %></td>
      <td><%= link_to '出力', client_invoice_path(format: :pdf, id: invoice.id), class: "btn btn-secondary" %></td>
      <td><%= link_to '編集', edit_client_invoice_path(@client, invoice), class: "btn btn-warning" %></td>
      <td><%= button_to '削除', client_invoice_path(@client, invoice), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>

<%= link_to '請求書追加', new_client_invoice_path, class: "btn btn-primary" %>