<h1 class="title">
  請求書情報登録
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!-- @invoiceという変数をコントローラから受け取るとする。 -->
    <%= form_for @invoice do |f| %>
      <%= f.label :sales_staff, "営業担当者", class: "label-signup" %>
      <%= f.text_field :sales_staff, class: 'form-control' %>

      <%= f.label :item, "品名", class: "label-signup" %>
      <%= f.text_field :item, class: 'form-control' %>

      <%= f.label :pay_terms, "支払条件", class: "label-signup" %>
      <%= f.text_field :pay_terms, class: "form-control" %>

      <%= f.label :due_date, "期日", class: "label-signup" %>
      <%= f.text_field :due_date, class: "form-control" %>

      <%= f.label :card_labor_cost, "コスモカード人件費", class: "label-signup" %>
      <%= f.text_field :card_labor_cost, class: "form-control" %>

      <%= f.label :card_incentive, "コスモカード獲得インセンティブ", class: "label-signup" %>
      <%= f.text_field :card_incentive, class: "form-control" %>

      <%= f.label :card_labor_commuting_allowance, "コスモカードスタッフ交通費", class: "label-signup" %>
      <%= f.text_field :card_labor_commuting_allowance, class: "form-control" %>

      <%= f.label :cell_phone_sales_labor_cost, "通信事業人件費", class: "label-signup" %>
      <%= f.text_field :cell_phone_sales_labor_cost, class: "form-control" %>

      <%= f.label :cell_phone_sales_commuting_allowance, "通信事業交通費（備品代込み）", class: "label-signup" %>
      <%= f.text_field :cell_phone_sales_commuting_allowance, class: "form-control" %>

      <%= f.label :cell_phone_sales_saninline, "通信事業（山陰ライン）交通費（備品代込み）", class: "label-signup" %>
      <%= f.text_field :cell_phone_sales_saninline, class: "form-control" %>
      
      <%= f.label :subtotal_fee, "小計", class: "label-signup" %>
      <%= f.text_field :subtotal_fee, class: "form-control" %>

      <%= f.label :tax, "消費税", class: "label-signup" %>
      <%= f.text_field :tax, class: "form-control" %>

      <%= f.label :total_fee, "すべての項目合計", class: "label-signup" %>
      <%= f.text_field :total_fee, class: "form-control" %>

      <%= f.submit '保存', class: "button is-success" %>
    <% end %>
  </div>
</div>