<h1>Invoices#show</h1>
<p>Find me in app/views/invoices/show.html.erb</p>

<%= @invoice.sales_staff %>

<%= @invoice.item %>

<%= @invoice.pay_terms %>

<%= @invoice.due_date %>

<%= @invoice.card_labor_cost %>

<%= @invoice.card_incentive %>

<%= @invoice.card_labor_commuting_allowance %>

<%= @invoice.cell_phone_sales_labor_cost %>

<%= @invoice.cell_phone_sales_commuting_allowance %>

<%= @invoice.cell_phone_sales_saninline %>

<%= @invoice.subtotal_fee %>

<%= @invoice.tax %>

<%= @invoice.total_fee %>