<%= form_for @topics do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, :size => 140 %>
  </div>

  <!--ここから-->
  <div class="field">
    <%= f.label :pdf %>
    <%= f.file_field :pdf %>
  </div>
  <!--ここまで-->

  <%= f.submit "投稿" %>
<% end %>
