<h1>取引先一覧</h1>
<table class="table">
<tr>
  <td>取引先番号</td>
  <td>取引先名</td>
  <td>郵便番号</td>
  <td>住所</td>
  <td>担当者名</td>
  <td>電話番号</td>
  <td>詳細</td>
  <td>編集</td>
  <td>削除</td>
  <td>請求書</td>
  <td>見積書</td>
</tr>
  <% @clients.each do |client| %>

    <tr>
      <td><%= client.client_number %></td>
      <td><%= client.client_name %></td>
      <td><%= client.postal_code %></td>
      <td><%= client.address %></td>
      <td><%= client.manager %></td>
      <td><%= client.phone_number %></td>
      <td><%= link_to "詳細", client, class: "btn btn-success" %></td>
      <td><%= link_to "編集", edit_client_path(client), class: "btn btn-warning" %></td>
      <td><%= button_to "削除", client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      <td><%= link_to "請求書", client_invoices_path(client), class: "btn btn-info" %></td>
      <td><%= link_to "見積書", client_quotations_path(client), class: "btn btn-secondary" %></td>
    </tr>
  <% end %>
</table>

<%= link_to "顧客追加", new_client_path, class: "btn btn-primary" %>