<h1>顧客情報登録</h1>

<%= form_for @client do |f| %>
  <%= f.label :client_number, "顧客番号", class: "label-signup" %>
  <%= f.text_field :client_number, class: "form-control" %>

  <%= f.label :client_name, "顧客名", class: "label-signup" %>
  <%= f.text_field :client_name, class: "form-control" %>

  <%= f.label :postal_code, "郵便番号", class: "label-signup" %>
  <%= f.text_field :postal_code, class: "form-control" %>

  <%= f.label :address, "住所", class: "label-signup" %>
  <%= f.text_area :address, class: "form-control" %>

  <%= f.label :manager, "担当者名", class: "label-signup" %>
  <%= f.text_field :manager, class: "form-control" %>

  <%= f.label :phone_number, "顧客電話番号", class: "label-signup" %>
  <%= f.text_field :phone_number, class: "form-control" %>

  <%= f.submit '保存', class: "button is-success" %>
<% end %>