<h1>Clients#show</h1>
<p>Find me in app/views/clients/show.html.erb</p>

<%= @client.client_number %>

<%= @client.client_name %>

<%= @client.postal_code %>

<%= simple_format @client.address %>

<%= @client.manager %>

<%= @client.phone_number %>