<h1>ご請求明細書</h1>

<%= search_form_for @q, url: search_client_quotations_path do |f| %>
  <%= f.label :division_cont, "区分" %>
  <%= f.search_field :division_cont %>
  <%= f.label :worked_date_gteq, "業務日" %>
  <%= f.search_field :worked_date_gteq %>
  <%= f.label :store_cont, "店舗名" %>
  <%= f.search_field :store_cont %>
  <%= f.label :staff_name_cont, "スタッフ名" %>
  <%= f.search_field :staff_name_cont %>
  <%= f.submit "検索" %>
<% end %>

<table class="table">
  <tr>
    <td>No.</td>
    <td>店舗名</td>
    <td>業務日</td>
    <td>スタッフ名</td>
    <td>開始時間</td>
    <td>終了時間</td>
    <td>休憩時間</td>
    <td>区分</td>
    <td>基本金額</td>
    <td>獲得枚数</td>
    <td>アプリ獲得件数</td>
    <td>インセンティブ</td>
    <td>交通費手当</td>
    <td>備考</td>
    <td>詳細</td>
    <td>出力</td>
    <td>編集</td>
    <td>削除</td>
  </tr>  
  <% @quotations.each do |quotation| %>
    <tr>
      <td><%= quotation.item_number %></td>
      <td><%= quotation.store %></td>
      <td><%= quotation.worked_date %></td>
      <td><%= quotation.staff_name %></td>
      <td><%= format_basic_info(quotation.work_start_time) %></td>
      <td><%= format_basic_info(quotation.work_end_time) %></td>
      <td><%= format_basic_info(quotation.break_time) %></td>
      <td><%= quotation.division %></td>
      <td><%= quotation.unit_price %></td>
      <td><%= quotation.gain_cards %></td>
      <td><%= quotation.gain_apps %></td>
      <td><%= quotation.incentive %></td>
      <td><%= quotation.commuting_allowance %></td>
      <td><%= quotation.note %></td>
      <td><%= link_to '詳細', client_quotation_path(@client, quotation), class: "btn btn-success" %></td>
      <td><%= link_to '出力', client_quotation_path(format: :pdf, id: quotation.id), class: "btn btn-secondary" %></td>
      <td><%= link_to '編集', edit_client_quotation_path(@client, quotation), class: "btn btn-warning" %></td>
      <td><%= button_to '削除', client_quotation_path(@client, quotation), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
    <tr>
      <td>合計</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= Quotation.all.sum(:unit_price) %></td>
      <td><%= Quotation.all.sum(:gain_cards) %></td>
      <td><%= Quotation.all.sum(:gain_apps) %></td>
      <td><%= Quotation.all.sum(:incentive) %></td>
      <td><%= Quotation.all.sum(:commuting_allowance) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</table>

<%= link_to '見積書追加', new_client_quotation_path, class: "btn btn-primary" %>
<%= link_to '出力 明細(カード)', new_client_quotation_path, class: "btn btn-primary" %>
<%= link_to '出力 明細(通信)', new_client_quotation_path, class: "btn btn-primary" %>
<%= link_to '出力 明細(通信山陰)', new_client_quotation_path, class: "btn btn-primary" %>