<h1>Quotations#show</h1>
<p>Find me in app/views/quotations/show.html.erb</p>
<%= @quotation.item_number %>

<%= @quotation.store %>

<%= @quotation.worked_date %>

<%= @quotation.staff_name %>

<%= @quotation.work_start_time %>

<%= @quotation.work_end_time %>

<%= @quotation.break_time %>

<%= @quotation.division %>

<%= @quotation.unit_price %>

<%= @quotation.gain_cards %>

<%= @quotation.gain_apps %>

<%= @quotation.incentive %>

<%= @quotation.commuting_allowance %>

<%= @quotation.note %>