<h1>SaninQuotations#show</h1>
<p>Find me in app/views/sanin_quotations/show.html.erb</p>
<%= @sanin_quotation.item_number %>

<%= @sanin_quotation.store %>

<%= @sanin_quotation.worked_date %>

<%= @sanin_quotation.staff_name %>

<%= @sanin_quotation.work_start_time %>

<%= @sanin_quotation.work_end_time %>

<%= @sanin_quotation.break_time %>

<%= @sanin_quotation.division %>

<%= @sanin_quotation.unit_price %>

<%= @sanin_quotation.gain_cards %>

<%= @sanin_quotation.gain_apps %>

<%= @sanin_quotation.incentive %>

<%= @sanin_quotation.commuting_allowance %>

<%= @sanin_quotation.note %>