<header> 
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "TrustMterial", root_path, id: "logo" %>
     <ul class=loginname><%= current_user%></ul>
    <% unless user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      </ul>
    <% else %>
     <% if current_user == @user || current_user.admin? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="fa-thin fa-circle-user"></li><br>
            <li><%= link_to "出勤中社員確認", go_work_user_path(current_user)  %></li>
            <li><%= link_to "交通費請求", "#" %></li>
            <li><%= link_to "見積表", "#" %></li>
            <li><%= link_to "請求書", "#" %></li>
        <%
=begin%>
 <%= image_tag @user.image.url, class: 'rounded-circle mr15', width: '40', height: '40' %> 
<%
=end%>
      </ul>
     <% end %>
      <div class="dropdown">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            アカウント <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "毎日の報告", user_path(current_user)%></li>
            <li><%= link_to "スケジュール表", index_one_month_user_schedules_path(current_user) %></li>
            <li><%= link_to "編集画面", edit_user_registration_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, class: "logout-btn", method: :delete %></li>
             <li><%= link_to "スケジュール一覧",  all_index_one_month_user_schedules_path(current_user) %></li>
          </ul>
        </li>
      </div>
    <% end %>
  </nav>
</header>