<h1>TusinQuotations#show</h1>
<p>Find me in app/views/tusin_quotations/show.html.erb</p>
<%= @tusin_quotation.item_number %>

<%= @tusin_quotation.store %>

<%= @tusin_quotation.worked_date %>

<%= @tusin_quotation.staff_name %>

<%= @tusin_quotation.work_start_time %>

<%= @tusin_quotation.work_end_time %>

<%= @tusin_quotation.break_time %>

<%= @tusin_quotation.division %>

<%= @tusin_quotation.unit_price %>

<%= @tusin_quotation.gain_cards %>

<%= @tusin_quotation.gain_apps %>

<%= @tusin_quotation.incentive %>

<%= @tusin_quotation.commuting_allowance %>

<%= @tusin_quotation.note %>